<ion-view view-title="SimpaGeo - Tag your GPS">
  <ion-content class="padding">
    <div class="list card geo_dashcard">
      <div class="item item-body geo_body">
        <div>
          <div id="google_map"></div>
        </div>
        <div>
          <div>
            <button class="button button-small button-calm" ng-click="setCurrentUI()">
              Tag This
            </button>
            <button class="button button-small button-assertive" ng-click="hideMyMarkers()">
              Erase Tags
            </button>
            <button class="button button-small button-balanced {{record_progress}}" ng-click="startNewRoute()">
              Record Route
            </button>
            <button class="button button-small button-royal {{record_progress}}" ng-click="saveMap()">
              Save Map
            </button>
            <button class="button button-small button-assertive {{record_stop}}" ng-click="stopNewRoute()">
              Stop Route
            </button>
            <button class="button button-small button-stable {{record_clear}}" ng-click="hideMarkers()">
              Clear Route
            </button>
            <div class="">Lat: {{curLat}}</div>
            <div class="">Lon: {{curLon}}</div>
          </div>
          <div>
            <div class="geo_quart">{{distance_kilometers| numberEx:2}} Kilometers</div>
            <div class="geo_quart">{{distance_miles | numberEx:2}} Miles</div>
          </div>
          <div>
            <div class="geo_quart">{{distance_meters | numberEx:2}} Meters</div>
            <div class="geo_quart">{{distance_feet | numberEx:2}} Feet</div>
          </div>
        </div>
      </div>    
    </div>
  </ion-content>
</ion-view>
