/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.geo_title {
    display: inherit;
    float: left;
    margin-left: 43px;
    margin-top: 0px;
}
.geo_button_center {
    width: 60px;
    display: inline;
}
#google_map {
	height: 329px;
	background-color: #f0f0f0;
}
.geo_button_row {
	padding-bottom: 10px;
}
.geo_hidden {
	display: none;
}
.geo_quart {
    display:inline;
}
.geo_dashcard {
    margin-top: 0;
}
.geo_body {
    padding: 0;
}
